{% extends 'core/base.html' %}
{% block content %}

    <section class="page-section" id="section-top-low">
        <div class="container">
            <div class="text-center">
                <h2 id="title-section-top">Mentions Légales</h2>
            </div>
        </div>
    </section>
    <section class="page-section" id="section-main">
        <div class="container">
            <div class="text-center">
                <h4>Thème <a href="https://startbootstrap.com/themes/creative/">"Creative" par Start Bootstrap</a></h4>
                <h4><a href="https://unsplash.com/photos/k60JspcBwKE">Photo</a> de la page d'acceuil par Kawin Harasai</h4>
                <h4>Site hébergé par <a href="https://www.heroku.com/">Heroku</a></h4>
                <h4>Fait lors d'un projet d'études pour <a href="https://openclassrooms.com/">OpenClassrooms</a></h4>
            </div>
        </div>
    </section>

{% endblock %}