{% extends 'core/base.html' %}
{% block content %}

    <section class="page-section" id="section-top-low">
        <div class="container">
            <div class="text-center">
                <h2 id="title-section-top">Mentions Légales</h2>
            </div>
        </div>
    </section>
    <section class="page-section" id="section-main">
        <div class="container">
            <div class="text-center">
                <h4>Site hébergé par <a href="https://www.heroku.com/">Heroku</a></h4>
            </div>
        </div>
    </section>

{% endblock %}