{% extends 'core/base.html' %}
{% load static %}
{% block content %}
    <section class="page-section" id="section-top-high">
        <div class="container">
            <div class="text-center">
                {% if substitute %}
                    <h2 id="title-section-top">Vos produits :</h2>
                {% else %}
                    <h2 id="title-section-top">Vous n'avez aucun produit enregistrés</h2>
                {% endif %}
            </div>
        </div>
    </section>

    <section class="page-section" id="section-main">
        <div class="container">
            {% if substitute %}
                <div class="row">
                    {% for sub in substitute %}
                        <div class="col-lg-4 col-md-12 div-sub">
                            <div class="col-lg-12 float-right div-img-ng">
                                {% if sub.ng == 'a' %}
                                    <img src="{% static 'core/img/ng_a.png' %}" class="img-ng" alt="Nutriscore A">
                                {% elif sub.ng == 'b' %}
                                    <img src="{% static 'core/img/ng_b.png' %}" class="img-ng" alt="Nutriscore B">
                                {% elif sub.ng == 'c' %}
                                    <img src="{% static 'core/img/ng_c.png' %}" class="img-ng" alt="Nutriscore C">
                                {% elif sub.ng == 'd' %}
                                    <img src="{% static 'core/img/ng_d.png' %}" class="img-ng" alt="Nutriscore D">
                                {% endif %}
                            </div>
                            <div class="col-lg-12 div-img-sub">
                                <img src="{{ sub.img }}" class="img-sub" alt="Photo produit">
                            </div>
                            <div class="div-link-detail">
                                <a href="/product/{{ sub.id }}">{{ sub.name }}</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="text-center">
                    <h2 class="text-center">Faites une recherche, enregistrer un produit et retrouver le ici !</h2>
                </div>
            {% endif %}
        </div>
    </section>

{% endblock %}