{% extends 'core/base.html' %}

{% block content %}
    <section class="page-section" id="section-top-high">
        <div class="container">
            <div class="text-center">
                <h1 id="title-section-top">Erreur</h1>
            </div>
        </div>
    </section>
    <section class="page-section" id="section-main">
        <div class="container">
            <div class="text-center">
                <h2>Une erreur (500) s'est produite.</h2>
                <h3>Merci de renouveller votre demande ulterieurement.</h3>
            </div>
        </div>
    </section>
{% endblock %}